[% extends 'pages/templates/boxPage.html' %]

[% region contents %]

[% add sass 'pages/style/about.scss' %]

<img class="fitted image me" src="[% static 'images/about/clint.jpg' %]" />
<p>
  My name is Clinton Morrison. 
  I am a front-end developer at BiblioCommons in Toronto, Canada.
</p>

<p>
  This website provides a sample of some of my work.
  I have completed a wide variety of projects from web apps to Java games.
</p>

<p>
  In addition to looking at my projects I also hope you check out my <a href="[% url 'blog' %]">blog</a>!
  I write mostly about software development, the projects I am working on, and things in technology that I find interesting.
</p>

<div class="clearfix"></div>

[% end region %]
