[% extends 'pages/templates/boxPage.html' %]

[% region contents %]

<img class="fitted image" src="http://clintonmorrison.com/images/about/clint.jpg" style="display: inline-block; float: left; padding-right: 15px;"/>
<p>
  My name is Clinton Morrison. 
  I am a third year computer science student at Dalhousie University in Halifax, Nova Scotia.
  I have loved programming from a young age and am passionate about web development.
  I am proficient in PHP, Python, Java, HTML, CSS and JavaScript.
  In addition to programming I am also interested in electronics and making Ardiuno microcontrollers do interesting things.
</p>

<p>
  This website provides a sample of some of my work.
  I have completed a wide variety of projects from encryption utilities to HTML5 games.
  I encourage you to try some of the software I have created or to download and view the source code!
  If you do I would be happy to <a href="[% url 'contact' %]">hear from you</a>!
</p>

<p>
  In addition to looking at my projects I also hope you check out my <a href="[% url 'blog' %]">blog</a>!
  I write mostly about software development, the projects I am working on, and things in technology that I find interesting.
</p>

<div class="clearfix"></div>

[% end region %]
