[% extends 'pages/templates/boxPage.html' %]

[% region contents %]

[% add sass 'pages/style/blog.scss' %]
[% add sass 'pages/style/blog_article.scss' %]

<div class="articles">
[% for each article in articles %]
  <div class="article-block">
    <div class="date"> [[article.date_published]]</div>
    <h2>[[article.title]]</h2>

    <div class="article-intro">[[article.intro]]</div>

    <a class="button button-primary" href="[% url 'blog' %]/[[article.name]]">
        Read More
    </a>
  </div>
[% end for each %]
</div>

[% end region %]
