[% extends 'pages/templates/boxPage.html' %]

[% region contents %]
<p class="large center quote">I would love to hear from you!</p>
<br/><br/>

<a class="wide bubble" href="mailto:contact@clintonmorrison.com">Email</a>
<div class="bubble connector"></div>
<a class="wide bubble" href="https://github.com/clintonmorrison">GitHub</a>
<div class="bubble connector"></div>
<a class="wide bubble" href="https://ca.linkedin.com/pub/clinton-morrison/70/492/876">LinkedIn</a>
<div class="bubble connector"></div>
[% end region %]
