[% extends 'pages/templates/boxPage.html' %]

[% region contents %]
<p class="huge center"> 
  Hello there! I'm Clinton Morrison, a software engineer in Toronto, Canada.
</p>

<div class="row">

  <!-- PROJECTS -->
  <div class="one-half column">
    <h2 class="centered"> Projects </h2>
    [% for each project in projects %]
      <a class="bubble" href="[% url 'projects' %]#[[project.name]]">[[project.title]]</a>
      <div class="bubble connector"></div>
    [% end for each %]
    <a class="bubble" style="" href="[% url 'projects' %]">. . .</a>
    <div class="bubble connector"></div>
    <br/>
  </div>


  <!-- BLOG -->
  <div class="one-half column">
    <h2 class="centered"> Blog </h2>
    [% for each article in articles %]
      <a class="bubble" href="[% url 'blog' %]/[[article.name]]">[[article.title]]</a>
      <div class="bubble connector"></div>
    [% end for each %]
    <a class="bubble" href="[% url 'blog' %]">. . .</a>
    <div class="bubble connector"></div>
  </div>

</div>

[% end region %]
