[% extends 'pages/templates/base.html' %]

[% region head %]
  <meta charset="utf-8">
  <meta name="author" content="Clinton Morrison">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" href="[% static 'favicon.ico' %]"/>
  <link href="https://fonts.googleapis.com/css?family=Unica+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i" rel="stylesheet">
  <title>[[title]] - clintonmorrison.com </title>
  [% add css 'pages/thirdparty/skeleton/normalize.css' %]
  [% add css 'pages/thirdparty/skeleton/skeleton.css' %]

  [% add sass 'pages/style/base.scss' %]
  [% add sass 'pages/style/nav.scss' %]


[% end region %]

[% region body %]
  [% add javascript 'pages/js/base.js' %]

  <script>
    console.log("Version: {{%version_info%}}");
  </script>

  [[sidebar]]

  <div class="main container">

    <div class="content">
      [[main]]
    </div>
  </div>



[% end region %]
