[% extends 'pages/templates/base.html' %]

[% region head %]
  <meta charset="utf-8">
  <meta name="author" content="Clinton Morrison">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" href="://clintonmorrison.com/favicon.ico"/>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>[[title]] - clintonmorrison.com </title>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  [% add sass 'pages/style/base.scss' %]
  [% add sass 'pages/style/nav.scss' %]

[% end region %]

[% region body %]

  <script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

  [% add javascript 'pages/js/base.js' %]
  
  <header>
    [[nav]]
  </header>

  <main class="container">
    [[main]]
  </main>

  <footer class="page-footer [[nav_classes]]">
    <div class="container">
      <span class="right">
        <a class="btn-floating [[btn_classes]]" href="mailto:[[contact_email]]" aria-label="Send me an email">
          <i class="material-icons right">email</i>
        </a>
        <a class="btn-floating [[btn_classes]]" href="[[linkedin_url]]" aria-label="View my LinkedIn" target="_blank">
          <i class="fa fa-linkedin" aria-hidden="true"></i>
        </a>
        <a class="btn-floating [[btn_classes]]" href="[[github_url]]" aria-label="View my GitHub" target="_blank">
          <i class="fa fa-github" aria-hidden="true"></i>
        </a>
      </span>
    </div>
    
    <div class="footer-copyright">
      <div class="container">
        &copy; Clinton Morrison 2015. {{%version_info%}}
      </div>
    </div>
  </footer>

[% end region %]
