[% extends 'pages/templates/page.html' %]

[% region main %]

[% add sass 'pages/style/project.scss' %]


<div class="project-section-intro">
  <h1> Projects </h1> 
  <p>
    This page lists some of the interesting projects I have worked on! For a more complete list and source code you should check out my <a target="_blank" href='https://github.com/ClintonMorrison'>GitHub</a> profile.
  </p>
</div class>

[% for each project in projects %]
<a class="project-anchor-link" name="[[project.name]]"></a>

<h2> [[project.title]] </h2>
<div class="date">[[project.date_published]]</div>
<div class="project-block">
  <div class="picture-column">
    <img class="project-picture" src="static/images/projects/[[project.name]]/picture.png"></img>
  </div>

  <div class="description-column">
    <p>[[project.long_description]]</p>
    <a class="button" href="[[project.source_url]]">Source Code</a>
    <a class="button" href="[[project.view_url]]">Try It</a>
  </div>
</div>
[% end for each %]

[% end region %]
