[% extends 'pages/templates/page.html' %]

[% region main %]

[% add sass 'pages/style/projects.scss' %]


<div class="">
  <h1> Projects </h1> 
  <p>
    This page lists some of the interesting projects I have worked on! For a more complete list and source code you should check out my <a target="_blank" href='https://github.com/ClintonMorrison'>GitHub</a> profile.
  </p>
</div>


<div class="projects-container">
  [% for each project in projects %]
   <div class="hoverable card activator" id="[[project.name]]">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="http://clintonmorrison.com/images/projects/[[project.name]]/picture.png">
    </div>
    
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">
        [[project.title]]
        <i class="material-icons right">more_vert</i>
      </span>
      
      <p>
        
      </p>
    </div>
    
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">
        [[project.title]]
        <i class="material-icons right">close</i>
      </span>
      <p>
        [[project.long_description]]
        <div class="divider"></div>
        <br />
        <a class="btn-floating [[btn_classes]]" href="[[project.source_url]]" aria-label="View on GitHub" target="_blank">
          <i class="fa fa-github" aria-hidden="true"></i>
        </a>
        <a class="btn [[btn_classes]] right" href="[[project.view_url]]" target="_blank">
          Try It
          &rsaquo;&rsaquo;
        </a>
      </p>
    </div>
  </div>
  [% end for each %]
</div>

[% end region %]
