# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Default error pages
[0-9]*.shtml
[0-9]*.php

# Backups
*.bak

# VIM stuff
*.sw[a-z]

# Configuration
config.py


