AddHandler application/x-httpd-php54 .php
AddHandler server-parsed .html
AddHandler application/x-httpd-php54 .html
AddHandler cgi-script .cgi

ErrorDocument 404 /404.php

Options -Indexes

RewriteEngine on

RewriteRule \.py$ - [F,L,NC]
RewriteRule \.pyc$ - [F,L,NC]
RewriteRule \.pyo$ - [F,L,NC]
RewriteRule \.pyd$ - [F,L,NC]
RewriteRule \.swp$ - [F,L,NC]
RewriteRule \.swo$ - [F,L,NC]

# TODO: Redirect all non-file requests to main CGI script
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule .* personal-website/main.cgi [L]

