*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
nav li,
.date,
.button {
  font-weight: bold;
  font-family: 'Unica One', serif;
  text-transform: uppercase;
}

.button {
  font-size: 1em;
}

body {
  font-size: 18px;
}

svg {
  max-width: 100%;
}

h2,
h3,
h4,
h5 {
  margin-bottom: 0;
}
