*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: 'PT Serif', serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, nav li, .date, .button {
  font-weight: bold;
  font-family: 'Nunito', sans-serif;
}

.button {
  font-size: 1em;
}

body, li {
  font-size: 20px;
}

.date {
  color: #333;
  text-transform: uppercase;
}

svg {
  max-width: 100%;
}

h2, h3, h4, h5 {
  margin-bottom: 0;
}