$border-color: #eee;
$accent-color: #33c3f0;

$menu-background: #fff;
$menu-foreground: #222;

.nav-placeholder {
  height: 5em;
}

nav {
  background-color: $menu-background;
  border-top: 1px solid $border-color;
  border-bottom: 2px solid $border-color;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  margin-bottom: 3em;

  a {
    position: relative;
    color: $menu-foreground;
    padding: .5em 1.5em;
    margin-bottom: -2px;

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: $accent-color;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
    }

    &.active:before,
    &:hover:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }

  ul {
    list-style-type: none;
  }

  li {
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  a {
    display: block;
    text-decoration: none;
  }

  .links {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 650px) {
  .nav-placeholder {
    display: none;
  }

  nav {
    position: static;

    .links {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 0;
    }

    li + li {
      margin-left: 0;
    }

    li {
      text-align: center;
      width: 33%;
    }
  }


}

@media screen and (max-width: 320px) {
  .links {
    li {
      width: 50%;
    }
  }
}

