[% extends 'pages/templates/boxPage.html' %]

[% region contents %]

<p>
  Hello there! I am a full-stack software engineer in Toronto, Canada.
    Currently I work at <a href="https://www.bibliocommons.com/">BiblioCommons</a>, helping to create awesome digital spaces for public libraries.
</p>


<p>
  I'm passionate about building great things.
  You can see some of my work <a href="[% url 'projects' %]">on this site</a>
  or on <a href="https://github.com/ClintonMorrison">GitHub</a>.
</p>

<p>
   I write about technology and my current projects on
  <a href="[% url 'blog' %]">my blog</a>.
</p>

[% end region %]
