[% extends 'pages/templates/base.html' %]

[% region head %]
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="author" content="Clinton Morrison">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="[[description]]">
  <meta property="og:site_name" content="Clinton Morrison" />
  <meta property="og:title" content="[[title]]" />
  <meta property="og:description" content="[[description]]" />
  <meta property="og:type" content="[[og_type]]" />

  <link rel="icon" href="[% static 'favicon.ico' %]"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  <title>[[title]] - clintonmorrison.com </title>
  [% add css 'pages/thirdparty/skeleton/normalize.css' %]
  [% add css 'pages/thirdparty/skeleton/skeleton.css' %]

  [% add sass 'pages/style/base.scss' %]
  [% add sass 'pages/style/nav.scss' %]


  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-42766313-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-42766313-1');
  </script>

[% end region %]

[% region body %]
  [% add javascript 'pages/js/base.js' %]

  <script>
    console.log("{{%version_info%}}");
  </script>

  [[sidebar]]

  <div class="main container">

    <div class="content">
      [[main]]
    </div>
  </div>



[% end region %]
