[% extends 'pages/templates/boxPage.html' %]

[% region contents %]

[% add sass 'pages/style/resume.scss' %]

<div class="resume">
  <div class="section">
    <h2> Education </h2>
    <ul class="top-list">
      [% for each event in education %]
      <li>
        <p><span class="field-title"> [[event.institution]] / [[event.start_date]] - [[event.end_date]]</span></p>
        <p>[[event.program]]</p>
        <p>[[event.distinctions]] (GPA: [[event.gpa]])</p>
      </li>
      [% end for each %]
    </ul>
  </div>

  <div class="section">
    <h2> Skills </h2>
    <ul class="top-list">
      [% for each skill in skills %]
      <li> <p><span class="field-title skill-name">[[skill.name]]</span>[[skill.description]] </p></li>
      [% end for each %]
    </ul>
  </div>


  <div class="section">
    <h2> Work Experience </h2>
    <ul class="top-list">
      [% for each job in work %]
      <li>
        <span class="date"></span>
        <p>
          <span class="field-title">[[job.title]] / [[job.start_date]] - [[job.end_date]]</span>
        </p>
        <p>
          <em>[[job.company]]</em> - <em>[[job.location]]</em>
        </p>
        [[job.tasks_html]]
      </li>
      [% end for each %]
    </ul>
  </div>
</div>

[% end region %]
