$menu-bg: #191818;
$menu-fg: #999;
$menu-fg-selected: lighten($menu-bg, 10%);
$menu-width: 175px;

$footer-height: 55px;

// Inspiration:
// http://purecss.io/forms/?
// https://boagworld.com/boagworks/consultancy

html {
  height: 100%;
}


html body {
  height: 100%;
  background-color: #ccc; //white

  * {
    z-index: 1;
  }

  
  .clearfix {
    clear: both;
  }
  
  .left {
    float: left;
  }

  .right {
    float: right;
  }

  .half {
    width: 40%;
  }

  
  .inverted {
    background-color: black;
    color: white;
  }
  
  .corner.note {
      position: absolute;
      top: 0px;
      right: 5px;
      color: #999;
  }


  .center {
    margin-left: auto;
    margin-right: auto;
  }

  img.fitted {
    max-width: 80%;
    max-height: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    &.wide {
      max-width: 100%;
      width: 100%;
    }
  }

  // 
  // CONTAINERS
  //
  div.main.container {
    position: absolute;
    left: $menu-width;
    top: 0;
    padding: 0;
    padding-top: 0;
    height: 100%;
    width: unquote("calc(100% - 175px - 30px)");
  }

  $container-min-width: 400px;
  $container-max-width: 800px;
  div.content.container {
    margin-bottom: -1 * $footer-height;
    min-height: 100%;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    
    &:after {
      content: "";
      display: block;
      height: $footer-height;
    }

  }

  //
  // FOOTER
  //
  footer {
    height: $footer-height;
    min-width: $container-min-width;
    max-width: $container-max-width;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    * {
      margin: 0;
      padding: 0;
    }
  }



}
