.contact-links {
  a {
    display: inline-block;
    line-height: 1.4;
    text-align: center;
    margin-right: 1em;
    width: 4em;

    svg {
      height: 2em;
      width: 2em;
    }
  }

  @media screen and (max-width: 350px) {
    text-align: center;

    a {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 2em;
    }
  }
}

.support-links {
  margin-top: 3em;
}