$border-color: #eee;
$foreground-color: #222;
$accent-color: #33c3f0;

$menu-background: #fff;
$menu-foreground: #222;
$body-background: #727b81;
$body-foreground: #e7f2fd;

.nav-placeholder {
  height: 5em;
}

nav {
  background-color: $menu-background;
  border-top: 1px solid $border-color;
  border-bottom: 2px solid $border-color; //$accent-color;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  margin-bottom: 3em;

  a {
    color: $menu-foreground;
    padding: .5em 1.5em;
  }

  ul {
    list-style-type: none;
  }

  li {
    display: inline-block;
    margin: 0;
    padding: 0;

     .active,
    &:hover,
    &:focus {
      color: lighten($menu-foreground, 5%);
      // background-color: darken($menu-background, 5%); //lighten($accent-color, 35%);
      border-bottom: 2px solid $accent-color;
      margin-bottom: -2px;
    }
  }

  a {
    display: block;
    text-decoration: none;
  }

  .links {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 750px) {
  .nav-placeholder {
    display: none;
  }

  nav {
    position: static;

    .links {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 0;
    }

    li + li {
      margin-left: 0;
    }

    li {
      text-align: center;
      width: 33%;
    }
  }


}

@media screen and (max-width: 320px) {
  .links {
    li {
      width: 50%;
    }
  }
}

