.project-picture {
  max-width: 100%;
}

h2 {
    padding-top: 1em;
}

.project-block {
  display: flex;
  justify-content: space-between;

  .picture-column {
    width: 35%;
  }

  .description-column {
    width: 60%;
  }

  .button + .button {
    margin-left: 1em;
  }
}

@media screen and (max-width: 800px) {
  .project-block {
    display: block;

    .picture-column,
    .description-column {
      width: 100%;
    }
  }
}