$menu-bg: #191818;
$menu-fg: #999;
$menu-fg-selected: lighten($menu-bg, 10%);
$menu-width: 175px;


html body {

  font-family: 'Raleway', sans-serif;

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;

    &.centered {
      text-align: center;
    }
  }

  h1 {
    font-size: 300%;
    font-weight: 700;
  }

  h2 {
    font-size: 250%;
    font-weight: 300;
  }

  h3 {
    padding-bottom: 0;
  }

  h4 { 
    padding-top: 20px;
    padding-bottom: 0;
  }

  hr {
    border: 0;
    border-bottom: 1 px solid $menu-fg;
    width: 100%;
    margin: 0;
  }
  
  br {
    clear: both;
  }
  p.large {
    font-size: 120%;
  }
  
  p.huge {
    font-size: 170%;
  }

  p.quote {
    color: black;
    font-weight: 300;
  }

  p.center {
    text-align: center;
  }


}
